*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
html { 
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto Mono', monospace;
    background: #d9e2ec;
}
h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #f0f4f8;
}
h3 {

font-size: 2rem;
font-family: 'Chonburi', cursive;
line-height: 1,8;
margin-bottom: 2rem;
color: #d5d5d5;
}
p {
font-size: 1,6rem;
color: #345375;
line-height: 2;
}

/* NAV SELECTION */
.nav-container{
    background: #334e68;
    color: #f0f4f8;
}
nav {
    width: 90%;
    margin: 0 auto;
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    font-size: 3rem;
}
nav .logo {
    font-family: 'Chonburi', cursive;
    font-weight: bold;
    color: #f0f4f8;
    flex: 2;
    margin: 0;
}
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex: 1;

}
nav ul li a {
    display: block;
    color: #f0f4f8;
    text-decoration: none;
    
} 
nav ul li a:hover {
    color: orange;
}

/*hero section */

.hero {
    height: 90vh;
    position: relative;
    
}
.hero::after {
    content: ""; 
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: heroBg 5s ease-in;
    background-image:linear-gradient(50deg,rgba(51, 78, 104, 0.2)0%, rgba(20,63,92,0.8)20%), url("./hiha.jpg");
    

}
.content {
    width: 90%;
    margin: 0 auto;
    max-width: 1366px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 90vh;

}
h1 span,
h3 span {
    color: #27ab83;

}
.amg {
    font-family:unset;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem 4rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    color: #243b53;
    background: #27ab83;
    
}
.amg a {
    color: #243b53;
    font-size: 2rem;
    text-decoration: none;
}
.amg:hover {
 background:#ffffff;
}
.amg:active {
    transform: scale(0.98);
   }

   /* qualit... */

   .qualities {
       width: 90%;
       margin: 6rem auto;
       max-width: 1366px;
       height: 100%;
       min-height: 50vh;
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-align: center;
       font-size: 2rem;

   }
   .qualities h2 {
       font-size: 3rem;

   }
   .qualities-container {
       display: flex;
       justify-content: space-between;
       grid-gap: 2rem;
       padding-top: 5%;
   }
   .quality {
       background: #bcccdc;
       padding: 4rem 0;
       width: 30%;
   }
   .quality P {
       text-align: center;
       width: 70%;
       margin: 1rem auto;
   }
   .quality h3 {
       color: black;
       font-size: 2.2rem;

   }
   .header-container i {
       color: #27ab83;
   }
   /* aboute section */

   .about-container{
       background: #334e68;

   }
   .about-us{
       width: 90%;
       max-width: 1366px;
       margin: 0 auto;
       height: 50vh;
    
       display: flex;
       justify-content: space-between;
       font-size: 2rem;
   }
   .about-content {
       display: flex;
       flex-direction: column;
       justify-content: center;

   }
   .about-content h2 {
       color: #d9e2ec;
       font-size: 3rem;

   }
   .about-content p {
       margin-top: 1rem;
       color: #d5d5d5;
       width: 80%;
       
   }
   .about-us img {
       width: 40%;
       height: 100%;
       
   }
   /* contact */
   .contact {
       width: 90%;
       font-size: 2rem;
       font-family: 'Stint Ultra Condensed', cursive;
       max-width: 1366px;
       margin: 3rem auto;
       height: 100%;
       padding: 2rem 0;
       text-align: center;

       
   }
   label,
   input,
   textarea{
       font-family: inherit;
       font-size: 1,6rem;

   }
   form {
       display: flex;
       flex-direction: column;
       padding: 5rem 0;
       width: 100%;

   }
   form .btn {
       width: 100px;
       text-align: center;
       align-self: center;
       

   }
   input,textarea {
       width: 80%;
       border-radius: 1rem;
       border: none;
       padding: 0.75rem 2rem;
       font-size: 1rem;
       margin: 0 auto;


   }
   label,input,textarea{
       margin-bottom: 1.5rem;
   }
   .btn {
    font-family:unset;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    color: #243b53;
    background: #27ab83;
    
   }
   .btn a {
    color: #243b53;
    font-size: 2rem;
    text-decoration: none;
   }
   .btn:hover {
    background:#88ffab;
   }
   .btn:active {
    transform: scale(0.98);
   }


   /*animation */
/*iiiiii*/
@media screen and (max-width:1400px) {
    .hero .content{
        align-items: center;
        text-align: center;

    }
    .hero::after{
        background-position: left;
    }
    
}
@media screen and (max-width:1184px) {
    nav ul{
        flex-direction: column;
    }
    nav ul li a {
        font-size: 1.5rem;
    }

}
@media screen and (max-width:984px){
    .quality-container{
        flex-wrap: wrap;
    }
    .quality{
        width: 100%;
    }
}
@media screen and (max-width:736px){
    
    .about-content{
        justify-content: center;
        align-items: center;
    }
    .content h1 {
        font-size: 3rem;
    }
    .content h3 {
        font-size: 2rem;
    }
}




footer{
    background: #243b53;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

}
footer p {
    color: #d9d9d9;
}